doctype html
html(lang="en")
    head
        title User Upload
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script.
            (function($) {
                $(window).load(function() {
                    $('form').on('submit', function(evt) {
                        evt.preventDefault();
                        var pass = $('input.password').val();
                        var cPass = $('input.confirmPassword').val();
                        
                        if(pass == cPass) {
                            $(this).unbind('submit').submit();
                        } else {
                            alert('Passwords must match');
                        }
                    });
                });
            })(jQuery);
    body
        h1 Jade - node template engine
        #container.col
            if youAreUsingJade
                p You are amazing
            else
                p Get on it!
            p.
                Jade is a terse and simple templating language with a
                strong focus on performance and powerful features.
            form(method='post', action='/users/upload', enctype='multipart/form-data')
                label(class='file') Username &nbsp;
                input(type='file', name='image', class='file')
                br
                input(type='submit', class='submit')